{% extends "partials/base.html" %}
{% load static %}
{% block main %}

    <section class="position-relative" id="about_introduction">
      <div
        class="lazy-bg bg-overlay position-absolute z-index-1 w-100 h-100 light-mode-img"
        data-bg-src="http://127.0.0.1:5500/assets/images/all-product-banner-2.jpg"
      ></div>
      <div
        class="lazy-bg bg-overlay dark-mode-img position-absolute z-index-1 w-100 h-100"
        data-bg-src="http://127.0.0.1:5500/assets/images/all-product-banner-2.jpg"
      ></div>
      <div class="position-relative z-index-2 container py-18 py-lg-25">
        <p
          class="fw-semibold ls-15 text-uppercase text-body-emphasis mb-lg-7 mt-lg-16"
        >
         
        </p>
        <h2 class="fs-56px mb-7"></h2>
      </div>
    </section>
    <section class="pb-14 py-lg-18">
      <div class="container container-xxl">
        <div class="row">
          <div class="col-lg-6">
            <div class="card border-0 hover-zoom-in">
              <div class="image-box-4" style="text-align: center;">
                <img
                  class="lazy-image img-fluid lazy-image"
                  src="assets\images\vishal-sir.jpg"
                  data-src="{% static 'assets\images\vishal-sir.jpg' %}"
                  width="80%"
                  alt
                />
              </div>
              <div class></div>
            </div>
          </div>
          <div class="col-lg-6 px-xxl-18 mt-12 mt-lg-0">
            <h2 class="mb-8">Meet Mr. Vishal Sehgal</h2>
            <p>
              Mr. Vishal Chandra Sehgal is the Managing Director of VR HEALTH SCIENCE OPC PVT.LTD Company which is one the leading cosmetic brand companies.

The origin of the company took place in 2015 in the month of AUGUST and since then the company has created a huge impact in the cosmetics products industry.

The intention of Mr. Sehgal was to bring revolution in this cosmetic brand industry by first time providing guaranteed results with every product launched.


            </p>
            <p class="mb-xl-16">
              He has been the formulator of skin care products for the last 6 years. He has launched various products with the cure of Melasma, Pigments, Dermatitis, Fungal Infections, Hair Fall, Hair Growth, Anti-Aging, Acne, keloids, Alopecia, and many other skin diseases. Working with world world-renowned brand as an advisor/innovator/formulator he understood the market trend of what is being provided and what the current market requires. To bridge the gap, his strong entrepreneurial spirit provided the market with unprecedented growth, and his leadership was instrumental in scripting the success story at the national/international level the company has already marked its presence in exports  & pan within no time.</span
              >
            </p>
            <!-- <div class="row">
              <div class="col-md-6">
                <div class="d-flex align-items-start">
                  <div class="d-none">
                    <svg class="icon fs-2">
                      <use xlink:href="#"></use>
                    </svg>
                  </div>
                  <div>
                    <h3 class="fs-5 mb-6">Message</h3>
                    <div class="fs-6">
                      <p class="mb-6 fs-15px">
                        Send us a text & an ambassador will respond when
                        available.
                      </p>
                      <p class="m-0 fs-6 fw-bold text-primary">
                        1-814-251-9966
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pt-9 pt-md-0">
                <div class="d-flex align-items-start">
                  <div class="d-none">
                    <svg class="icon fs-2">
                      <use xlink:href="#"></use>
                    </svg>
                  </div>
                  <div>
                    <h3 class="fs-5 mb-6">Store Hours</h3>
                    <div class="fs-6">
                      <dl class="d-flex mb-0">
                        <dt
                          class="pe-3 fs-6 text-body-emphasis fw-500"
                          style="width: 110px"
                        >
                          Mon – Fri:
                        </dt>
                        <dd class="mb-0">08:30 – 20:00</dd>
                      </dl>
                      <dl class="d-flex mb-0">
                        <dt
                          class="pe-3 fs-6 text-body-emphasis fw-500"
                          style="width: 110px"
                        >
                          Sat & Sun:
                        </dt>
                        <dd class="mb-0">09:30 – 21:30</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <section class="pt-lg-20 pt-15">
      <div class="container container-xxl">
        <div class="row gy-30px">
          <div class="col-lg-6">
            <div
              class="card border-0 rounded-0 banner-06 hover-zoom-in hover-shine"
            >
              <img
                class="lazy-image w-100 card-img object-fit-cover lazy-image"
                src="#"
                data-src="{% static 'assets/images/acne-face-serum.jpg' %}"
                width="690"
                height="450"
                alt
              />
              <div class="card-img-overlay">
                <div
                  class="position-absolute top-50 end-0 translate-middle-y px-md-0 px-12"
                >
                  <div class="mt-7"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="card border-0 rounded-0 banner-06 hover-zoom-in hover-shine"
            >
              <img
                class="lazy-image w-100 card-img object-fit-cover lazy-image"
                src="assets/images/SALEZEMAC-COMPLEX.jpg"
                data-src="{% static 'assets/images/SALEZEMAC-COMPLEX.jpg' %}"
                width="690"
                height="450"
                alt
              />
              <div class="card-img-overlay">
                <div
                  class="position-absolute top-50 end-0 translate-middle-y px-md-0 px-12"
                >
                  <div class="mt-7"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section style="margin-top: 50px;">
      <div class="container container-xxl">
        <div class="text-center pb-11 pb-lg-14">
          <h2 class="fs-3 w-lg-40 w-auto mx-auto pb-7">
            We strive to live with compassion, kindness and empathy
          </h2>
          <p class="mw-lg-50 mx-auto">
            A lot of so-called stretch denim pants out there are just
            glorified sweatpants – they get baggy and lose their shape. Not
            cool. Our tightly knitted fabric holds its form after repeated
            wear. Plus, Aldays dress up or down, no prob. So you can wear them
            all day. Get it?
          </p>
        </div>
        <div class="row gy-30px">
          <div class="col-md-4">
            <div class>
              <div class="d-flex justify-content-center">
                <img
                  class="lazy-image img-fluid light-mode-img"
                  src="#"
                  data-src="{% static './assets/images/image-box/image-box-11.png' %}"
                  width="102"
                  height="118"
                  alt="Guaranteed PURE"
                />
                <img
                  class="lazy-image dark-mode-img img-fluid"
                  src="#"
                  data-src="{% static 'assets/images/image-box/image-box-white-11.png' %}"
                  width="102"
                  height="118"
                  alt="Guaranteed PURE"
                />
              </div>
              <div class="card-body text-center pt-7 mt-3">
                <h3 class="fs-4 mb-6">MANUFACTURING RELIANT</h3>
                <p class="mb-0 px-lg-6">
                  We Surpass all DIN/BIS/IS/FDA and all global authentication on a proud note.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class>
              <div class="d-flex justify-content-center">
                <img
                  class="lazy-image img-fluid light-mode-img"
                  src="#"
                  data-src="{% static './assets/images/image-box/image-box-02.png' %}"
                  width="102"
                  height="118"
                  alt="Completely Cruelty-Free"
                />
                <img
                  class="lazy-image dark-mode-img img-fluid"
                  src="#"
                  data-src="{% static './assets/images/image-box/image-box-white-02.png' %}"
                  width="102"
                  height="118"
                  alt="Completely Cruelty-Free"
                />
              </div>
              <div class="card-body text-center pt-7 mt-3">
                <h3 class="fs-4 mb-6">EXPERTISE DOMAIN</h3>
                <p class="mb-0 px-lg-6">
                  We ensure exceptional global cosmetic offerings with our knowledgeable specialists on board.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class>
              <div class="d-flex justify-content-center">
                <img
                  class="lazy-image img-fluid light-mode-img"
                  src="#"
                  data-src="{% static './assets/images/image-box/image-box-03.png' %}"
                  width="102"
                  height="118"
                  alt="Ingredient Sourcing"
                />
                <img
                  class="lazy-image dark-mode-img img-fluid"
                  src="#"
                  data-src="{% static './assets/images/image-box/image-box-white-03.png' %}"
                  width="102"
                  height="118"
                  alt="Ingredient Sourcing"
                />
              </div>
              <div class="card-body text-center pt-7 mt-3">
                <h3 class="fs-4 mb-6">TECHNOLOGY-A BIG PLUS</h3>
                <p class="mb-0 px-lg-6">
                  An astute virgin of world-class technological setup ensures us a complete delight for all our business partners.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section id="with_client_logo_4" class="bg-body-tertiary">
      <div class="container pt-lg-20 pb-lg-19 pt-15 pb-16">
        <div class="row mb-11 mb-lg-15">
          <div class="col-lg-9 offset-lg-1 col-xl-8 offset-xl-2">
            <div
              class="slick-slider main"
              data-slick-options='{"slidesToShow": 1,"dots":false,"arrows":false, "asNavFor": "#with_client_logo_4 .thumb"}'
            >
              <div class="text-center">
                <h4 class="mb-0">
                  "Millions of combinations, meaning you get a totally unique
                  piece of furniture exactly the way you want it."
                </h4>
              </div>
              <div class="text-center">
                <h4 class="mb-0">
                  "Great tags, Millie has got used to it, nothing like the old
                  tin tags of years gone by. Light weight and great colours
                  available."
                </h4>
              </div>
              <div class="text-center">
                <h4 class="mb-0">
                  "Amazing product. The results are so transformative in
                  texture and my face feels plump and healthy. Highly
                  recommend!"
                </h4>
              </div>
              <div class="text-center">
                <h4 class="mb-0">
                  "Millions of combinations, meaning you get a totally unique
                  piece of furniture exactly the way you want it."
                </h4>
              </div>
              <div class="text-center">
                <h4 class="mb-0">
                  "Great tags, Millie has got used to it, nothing like the old
                  tin tags of years gone by. Light weight and great colours
                  available."
                </h4>
              </div>
              <div class="text-center">
                <h4 class="mb-0">
                  "Millions of combinations, meaning you get a totally unique
                  piece of furniture exactly the way you want it."
                </h4>
              </div>
              <div class="text-center">
                <h4 class="mb-0">
                  "Millions of combinations, meaning you get a totally unique
                  piece of furniture exactly the way you want it."
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div
          class="slick-slider thumb"
          data-slick-options='{"slidesToShow": 6,"focusOnSelect": true,"arrows": false, "dots": false, "asNavFor": "#with_client_logo_4 .main", "responsive":[{"breakpoint":992,"settings":{"dots":true,"slidesToShow":4}},{"breakpoint":768,"settings":{"dots":true,"slidesToShow":3}},{"breakpoint":576,"settings":{"dots":true,"slidesToShow":2}}] }'
        >
          <div class="client-logo-item">
            <img
              class="lazy-image w-auto mx-auto opacity-30 light-mode-img"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-01.png' %}"
              width="150"
              height="82"
              alt="goodness"
            />
            <img
              class="lazy-image dark-mode-img w-auto mx-auto opacity-30"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-white-01.png' %}"
              width="150"
              height="82"
              alt="goodness"
            />
          </div>
          <div class="client-logo-item">
            <img
              class="lazy-image w-auto mx-auto opacity-30 light-mode-img"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-02.png' %}"
              width="150"
              height="82"
              alt="grandgolden"
            />
            <img
              class="lazy-image dark-mode-img w-auto mx-auto opacity-30"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-white-02.png' %}"
              width="150"
              height="82"
              alt="grandgolden"
            />
          </div>
          <div class="client-logo-item">
            <img
              class="lazy-image w-auto mx-auto opacity-30 light-mode-img"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-03.png' %}"
              width="150"
              height="82"
              alt="parker"
            />
            <img
              class="lazy-image dark-mode-img w-auto mx-auto opacity-30"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-white-03.png' %}"
              width="150"
              height="82"
              alt="parker"
            />
          </div>
          <div class="client-logo-item">
            <img
              class="lazy-image w-auto mx-auto opacity-30 light-mode-img"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-04.png' %}"
              width="150"
              height="82"
              alt="thebeast"
            />
            <img
              class="lazy-image dark-mode-img w-auto mx-auto opacity-30"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-white-04.png' %}"
              width="150"
              height="82"
              alt="thebeast"
            />
          </div>
          <div class="client-logo-item">
            <img
              class="lazy-image w-auto mx-auto opacity-30 light-mode-img"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-05.png' %}"
              width="150"
              height="82"
              alt="hayden"
            />
            <img
              class="lazy-image dark-mode-img w-auto mx-auto opacity-30"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-white-05.png' %}"
              width="150"
              height="82"
              alt="hayden"
            />
          </div>
          <div class="client-logo-item">
            <img
              class="lazy-image w-auto mx-auto opacity-30 light-mode-img"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-06.png' %}"
              width="150"
              height="82"
              alt="goodmood"
            />
            <img
              class="lazy-image dark-mode-img w-auto mx-auto opacity-30"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-white-06.png' %}"
              width="150"
              height="82"
              alt="goodmood"
            />
          </div>
          <div class="client-logo-item">
            <img
              class="lazy-image w-auto mx-auto opacity-30 light-mode-img"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-01.png' %}"
              width="150"
              height="82"
              alt="goodness"
            />
            <img
              class="lazy-image dark-mode-img w-auto mx-auto opacity-30"
              src="#"
              data-src="{% static './assets/images/client-logo/client-logo-white-01.png' %}"
              width="150"
              height="82"
              alt="goodness"
            />
          </div>
        </div>
      </div>
    </section> -->
  </main>
    {% endblock main %}