{% extends "partials/base.html" %}
{% load static %}
{% block main %}
<section class="z-index-2 position-relative pb-2 mb-12">
    <div class="bg-body-secondary mb-3">
        <div class="container">
            <nav class="py-4 lh-30px" aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center py-1 mb-0">
                    <li class="breadcrumb-item"><a title="Home" href="/">Home</a></li>
                    <li class="breadcrumb-item"><a title="Shop" href="/cart">Cart</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<section class="container pb-14 pb-lg-19">
    <div class="text-center">
        <h2 class="mb-6">Check out</h2>
    </div>
    <form class="pt-12" method="POST" action="/checkout/">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-4 pb-lg-0 pb-14 order-lg-last">
                <div class="card border-0 rounded-0 shadow">
                    <div class="card-header px-0 mx-10 bg-transparent py-8">
                        <h4 class="fs-4 mb-3">Order Summary</h4>
                        <p class="mb-8">You have total <b>{{totalcartitems}}</b> products</p>
                        {% for product_id, item in cart_data.items %}
                        <div class="d-flex w-100 mb-7">
                            <div class="me-6">
                                <img src="{{ item.image }}" data-src="{{ item.image }}" class="lazy-image" width="60" height="80" alt="{{ item.title }}">
                            </div>
                            <div class="d-flex flex-grow-1">
                                <div class="pe-6">
                                    <a href="">{{ item.title }}<span class="text-body"> x{{ item.qty }}</span></a>
                                    <p class="fs-14px text-body-emphasis mb-0 mt-1">Size: <span class="text-body">{{ item.sku }}</span></p>
                                </div>
                                <div class="ms-auto">
                                    <p class="fs-14px text-body-emphasis mb-0 fw-bold">₹ {{item.price_wo_gst}}</p>
                                </div>

                                <div class="ms-auto">
                                    <p class="fs-14px text-body-emphasis mb-0 fw-bold">₹ {% widthratio item.price_wo_gst 1 item.qty %}.00</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="card-body px-10 py-8">
                        <div class="d-flex align-items-center mb-2">
                            <span>Subtotal:</span>
                            <span class="d-block ms-auto text-body-emphasis fw-bold">₹ {{ price_wo_gst_total|floatformat:"2" }}</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span>GST:</span>
                            <span class="d-block ms-auto text-body-emphasis fw-bold">₹ {{total_gst|floatformat:"2"}}</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span>Shipping:</span>
                            <span class="d-block ms-auto text-body-emphasis fw-bold">Free Shipping</span>
                        </div>
                        
                    </div>
                    <div class="card-footer bg-transparent py-5 px-0 mx-10">
                        <div class="d-flex align-items-center fw-bold mb-6">
                            <span class="text-body-emphasis p-0">Total Price:</span>
                            <span class="d-block ms-auto text-body-emphasis fs-4 fw-bold">₹ {{ cart_total_amount_shipping }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 order-lg-first pe-xl-20 pe-lg-6">
                <div class="checkout">
                    {% if not user.is_authenticated %}
                    <p class="mb-5">Returning customer? <a href="/user/sign-in">Click here to login</a></p>
                    {% endif %}
                    <div class="collapse" id="collapsecoupon">
                        <div class="card mw-60 border-0">
                            <div class="card-body py-10 px-8 my-10 border">
                                <p class="card-text text-body-emphasis mb-8">If you have a coupon code, please apply it below.</p>
                                <div class="input-group position-relative">
                                    <input type="email" class="form-control bg-body rounded-end" placeholder="Your Email*">
                                    <button type="submit" class="btn btn-dark btn-hover-bg-primary btn-hover-border-primary">Apply Coupon</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="fs-4 pt-4 mb-7">Shipping Information</h4>
                    <div class="mb-7">
                        <div class="row">
                            <div class="col-md-6 mb-md-0 mb-7">
                                <label class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">First Name</label>
                                <input type="text" class="form-control" id="first-name" name="firstname" placeholder="First Name" required>
                            </div>
                            <div class="col-md-6">
                                <label class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">Last Name</label>
                                <input type="text" class="form-control" id="last-name" name="lastname" placeholder="Last Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-7">
                        <div class="row">
                            <div class="col-md-4 mb-md-0 mb-7">
                                <label for="checkout_zipcode" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">Postcode/Zip</label>
                                <input type="text" class="form-control" id="checkout_zipcode" name="zipcode" required>
                            </div>
                            <div class="col-md-4 mb-md-0 mb-7">
                                <label for="pin_details_dropdown" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">Select Area</label>
                                <select class="form-select" id="pin_details_dropdown" name="pin_details">
                                    <option value="">Select your area</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="checkout_city" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">City</label>
                                <input type="text" class="form-control" id="checkout_city" name="city" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-7">
                        <div class="row">
                            <div class="col-md-6 mb-md-0 mb-7">
                                <label for="checkout_district" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">District</label>
                                <input type="text" class="form-control" id="checkout_district" name="district" required>
                            </div>
                            <div class="col-md-6">
                                <label for="checkout_division" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">Division</label>
                                <input type="text" class="form-control" id="checkout_division" name="division" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-7">
                        <label for="checkout_state" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">State</label>
                        <input type="text" class="form-control" id="checkout_state" name="state" required>
                    </div>
                    <div class="mb-7">
                        <div class="row">
                            <div class="col-md-6 mb-md-0 mb-7">
                                <label for="billing-address" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">Billing Address</label>
                                <input type="text" class="form-control" id="billing-address" name="billingaddress" required>
                            </div>
                            <div class="col-md-6">
                                <label for="shipping-address" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">Shipping Address</label>
                                <input type="text" class="form-control" id="shipping-address" name="shippingaddress" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-7">
                        <div class="row">
                            <div class="col-md-6 mb-md-0 mb-7">
                                <label for="phone" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">Phone</label>
                                <input type="number" class="form-control" id="phone" name="phone" required>
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-7 form-check">
                        <input type="checkbox" class="form-check-input" id="have-gst" onclick="toggleGstFields()">
                        <label for="have-gst" class="form-check-label">Have GST?</label>
                    </div>
                    <div id="gst-fields" style="display: none;">
                        <div class="mb-7">
                            <label for="company-name" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">Company Name</label>
                            <input type="text" class="form-control" id="company-name" name="companyname">
                        </div>
                        <div class="mb-7">
                            <label for="gst-number" class="mb-5 fs-13px letter-spacing-01 fw-semibold text-uppercase">GST Number</label>
                            <input type="text" class="form-control" id="gst-number" name="gstnumber">
                        </div>
                    </div>
                </div>
                <div class="checkout mb-7">
                    <button type="submit" class="btn btn-dark btn-hover-bg-primary btn-hover-border-primary px-11 mt-md-7 mt-4">Place Order</button>
                </div>
            </div>
            
        </div>
    </form>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var pinDetailsList = [];

function fetchAddressDetails(zipcode) {
    $.ajax({
        url: '/fetch-pin-details', // Replace with your actual endpoint URL
        type: 'GET',
        data: { 'zipcode': zipcode },
        success: function(response) {
            if (response.success) {
                pinDetailsList = response.data;
                var dropdown = $('#pin_details_dropdown');
                dropdown.empty();
                dropdown.append('<option value="">Select your area</option>');

                pinDetailsList.forEach(function(pinDetails, index) {
                    dropdown.append('<option value="' + index + '">' + pinDetails.Name + '</option>');
                });
            } else {
                console.error('Error: Unable to fetch address details');
                // Handle error case here
            }
        },
        error: function(xhr, status, error) {
            console.error('Error fetching address details:', error);
            // Handle error case here
        }
    });
}

$('#pin_details_dropdown').change(function() {
    updatePinDetails();
});

function updatePinDetails() {
    var selectedIndex = $('#pin_details_dropdown').val();
    if (selectedIndex !== "") {
        var selectedPinDetails = pinDetailsList[selectedIndex];
        $('#checkout_city').val(selectedPinDetails.Name);
        $('#checkout_district').val(selectedPinDetails.District);
        $('#checkout_division').val(selectedPinDetails.Division);
        $('#checkout_state').val(selectedPinDetails.State);
    } else {
        // Clear fields if no option is selected
        $('#checkout_city').val('');
        $('#checkout_district').val('');
        $('#checkout_division').val('');
        $('#checkout_state').val('');
    }
}

function toggleGstFields() {
    var gstFields = $('#gst-fields');
    var isChecked = $('#have-gst').prop('checked');
    gstFields.toggle(isChecked);
}

$('#checkout_zipcode').on('input', function() {
    var zipcode = $(this).val().trim();
    if (zipcode !== '') {
        fetchAddressDetails(zipcode);
    }
});

</script>
</main>
{% endblock main %}