{% extends "partials/base.html" %}
{% load static %}
{% block main %}

    <section>
      <div class="bg-body-secondary py-5">
        <nav aria-label="breadcrumb">
          <ol
            class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center"
          >
            <li class="breadcrumb-item">
              <a class="text-decoration-none text-body" href="/">Home</a>
            </li>
            <li
              class="breadcrumb-item active pl-0 d-flex align-items-center"
              aria-current="page"
            >
              Contact Us
            </li>
          </ol>
        </nav>
      </div>
      <div class="container pt-13">
        <div class="text-center">
          <div class="text-center">
            <h2 class="fs-36px mb-9">Keep In Touch with Us</h2>
            <p class="fs-18px mb-14 w-lg-60 w-xl-50 mx-md-12 mx-lg-auto">
              We’re talking about clean beauty gift sets, of course – and
              we’ve got a bouquet of beauties for yourself or someone you
              love.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-12 mb-md-0">
            <div class="d-flex align-items-start">
              <div class="pe-lg-9 pe-8 text-primary">
                <svg class="icon fs-2">
                  <use xlink:href="#icon-box-07"></use>
                </svg>
              </div>
              <div>
                <h3 class="fs-5 mb-6">Address</h3>
                <div class="fs-6">
                  <p class="mb-2 pb-4 fs-6">
                    Wh-71, Mayapuri Industrial Area Phase-1, New Delhi +91-8448200102  <br> <b> For Enquiry :+91-8448796010 </b>
                  </p>
                </div>
                <a
                  href="https://www.google.com/maps/place/VR+HEALTH+SCIENCE+PVT+LTD/@28.627486,77.1218082,17z/data=!3m1!4b1!4m6!3m5!1s0x390d03bc5b7a2071:0x460afc4b4a3489bf!8m2!3d28.6274813!4d77.1243831!16s%2Fg%2F11h5vv2bnv?entry=ttu"
                  class="text-decoration-none border-bottom border-currentColor fw-semibold fs-6"
                  >Get Direction</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-12 mb-md-0">
            <div class="d-flex align-items-start">
              <div class="pe-lg-9 pe-8 text-primary">
                <svg class="icon fs-2">
                  <use xlink:href="#icon-box-05"></use>
                </svg>
              </div>
              <div>
                <h3 class="fs-5 mb-6">Contact</h3>
                <div class="fs-6">
                  <p class="mb-3 fs-6">
                    Mobile:<span class="text-body-emphasis">
                      +91-8448796010, +91-8448796007,  </span
                    >
                  </p>
                  <p class="mb-0 fs-6">E-mail:  info@vrhealthscience.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-12 mb-md-0">
            <div class="d-flex align-items-start">
              <div class="pe-lg-9 pe-8 text-primary">
                <svg class="icon fs-2">
                  <use xlink:href="#icon-box-06"></use>
                </svg>
              </div>
              <div>
                <h3 class="fs-5 mb-6">Hour of operation</h3>
                <div class="fs-6">
                  <dl class="d-flex mb-0">
                    <dt
                      class="pe-3 fs-6 text-body-emphasis fw-500"
                      style="width: 110px"
                    >
                      Mon – Fri:
                    </dt>
                    <dd class="mb-0">09:30 – 20:00</dd>
                  </dl>
                  <dl class="d-flex mb-0">
                    <dt
                      class="pe-3 fs-6 text-body-emphasis fw-500"
                      style="width: 110px"
                    >
                      Sun:
                    </dt>
                    <dd class="mb-0">Closed</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-9 pt-md-16 pt-lg-18">
      <div class="container">
        <div
          id="map"
          class="mapbox-gl map-point-animate map-box-has-effect"
          style="height: 530px"
          data-mapbox-access-token=""
        >
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.075941374786!2d77.12180817495663!3d28.62748598431079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d03bc5b7a2071%3A0x460afc4b4a3489bf!2sVR%20HEALTH%20SCIENCE%20PVT%20LTD!5e0!3m2!1sen!2sin!4v1719051108192!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      </div>
    </section>
    <section
      class="pt-15 pb-16 pt-lg-17 pb-lg-18 mx-auto"
      style="max-width: 750px"
    >
      <div class="container text-center">
        <h2 class="mb-10 fs-3">Sent A Message</h2>
        <form class="contact-form" method="post" action="#">
          <div class="row mb-8 mb-md-10">
            <div class="col-md-6 col-12 mb-8 mb-md-0">
              <input
                type="text"
                class="form-control input-focus"
                placeholder="Name"
              />
            </div>
            <div class="col-md-6 col-12">
              <input
                type="email"
                class="form-control input-focus"
                placeholder="Email"
              />
            </div>
          </div>
          <textarea
            class="form-control mb-6 input-focus"
            placeholder="Messenger"
            rows="7"
          ></textarea>
          <div class="form-check mb-9 text-start">
            <input
              class="form-check-input rounded-0"
              type="checkbox"
              value
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Save my name, email in this browse for the next time I comment
            </label>
          </div>
          <button
            type="submit"
            class="btn btn-dark btn-hover-bg-primary btn-hover-border-primary px-11"
          >
            Submit
          </button>
        </form>
      </div>
    </section>
  </main>
    {% endblock main %}