{% extends "partials/base.html" %}
{% load static %}
{% block main %}

<section class="pb-16 pb-lg-18 ">
<div class="bg-body-secondary py-5">
<nav aria-label="breadcrumb">
<ol class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center">
<li class="breadcrumb-item"><a class="text-decoration-none text-body" href="#">Home</a>
</li>
<li class="breadcrumb-item active pl-0 d-flex align-items-center" aria-current="page">Frequently Asked
Questions
</li>
</ol>
</nav>
</div>
<div class="container">
<div class=" text-center pt-13 mb-lg-15">
<div class="text-center"><h2 class="fs-36px mb-11 mb-lg-14">Frequently Asked Questions</h2></div>
</div>
</div>
<div class="container">
<div class="">
<div class="row">
<div class="col-md-3">
<h2 class="fs-3">Orders <br/>& Shipping</h2>
</div>
<div class="col-md-9">
<div class="accordion accordion-flush" id="accordionFlushExample">
<div class="accordion-item pb-5 pt-11 pt-md-0">
<h2 class="accordion-header" id="flush-headingOne">
<a class="product-info-accordion text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
<span class="fs-18px">How did my package ship?</span>
</a>
</h2>
</div>
<div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
<div class="accordion-item pb-4 pt-11">
<h2 class="accordion-header" id="flush-headingTwo">
<a class="product-info-accordion collapsed text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
<span class="fs-18px">Why does my USPS tracking number state 1-Day, 2-Day, 3-Day Delivery?</span>
</a>
</h2>
</div>
<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
<div class="accordion-item pb-4 pt-11">
<h2 class="accordion-header" id="flush-headingThree">
<a class="product-info-accordion collapsed text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
<span class="fs-18px">How long will my package take to arrive?</span>
</a>
</h2>
</div>
<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
<div class="accordion-item pb-4 pt-11">
<h2 class="accordion-header" id="flush-headingfor">
<a class="product-info-accordion collapsed text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseFor" aria-expanded="false" aria-controls="flush-collapseFor">
<span class="fs-18px">What are business days?</span>
</a>
</h2>
</div>
<div id="flush-collapseFor" class="accordion-collapse collapse" aria-labelledby="flush-headingfor" data-bs-parent="#accordionFlushExample">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
<div class="accordion-item pb-4 pt-11">
<h2 class="accordion-header" id="flush-headingFive">
<a class="product-info-accordion collapsed text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
<span class="fs-18px">How do I know my package has shipped?</span>
</a>
</h2>
</div>
<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
<div class="accordion-item pb-4 pt-11">
<h2 class="accordion-header" id="flush-headingSix">
<a class="product-info-accordion collapsed text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
<span class="fs-18px">Why are certain products unavailable to ship to Internationally?</span>
</a>
</h2>
</div>
<div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
<div class="accordion-item pb-4 pt-11">
<h2 class="accordion-header" id="flush-headingSeven">
<a class="product-info-accordion collapsed text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
<span class="fs-18px">Why is my tracking number not updating?</span>
</a>
</h2>
</div>
<div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
</div>
</div>
</div>
<div class="row py-15 py-lg-17">
<div class="col-md-3">
<h2 class="fs-3">Returns & <br/>
Exchanges</h2>
</div>
<div class="col-md-9">
<div class="accordion accordion-flush" id="accordionFlushExample2">
<div class="accordion-item pb-5 pt-11 pt-md-0">
<h2 class="accordion-header" id="flush-headingReturnsOne">
<a class="product-info-accordion collapsed text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseReturnsOne" aria-expanded="false" aria-controls="flush-collapseReturnsOne">
<span class="fs-18px">How do I know my package has shipped?</span>
</a>
</h2>
</div>
<div id="flush-collapseReturnsOne" class="accordion-collapse collapse" aria-labelledby="flush-headingReturnsOne" data-bs-parent="#accordionFlushExample2">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
<div class="accordion-item pb-4 pt-11">
<h2 class="accordion-header" id="flush-headingReturnsTwo">
<a class="product-info-accordion collapsed text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseReturnsTwo" aria-expanded="false" aria-controls="flush-collapseReturnsTwo">
<span class="fs-18px">Why are certain products unavailable to ship to Internationally?</span>
</a>
</h2>
</div>
<div id="flush-collapseReturnsTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample2">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
<div class="accordion-item pb-4 pt-11">
<h2 class="accordion-header" id="flush-headingReturnsThree">
<a class="product-info-accordion collapsed text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseReturnsThree" aria-expanded="false" aria-controls="flush-collapseReturnsThree">
<span class="fs-18px">Why is my tracking number not updating?</span>
</a>
</h2>
</div>
<div id="flush-collapseReturnsThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample2">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3">
<h2 class="fs-3">Discounts</h2>
</div>
<div class="col-md-9">
<div class="accordion accordion-flush" id="accordionFlushExample3">
<div class="accordion-item pb-5 pt-11 pt-md-0">
<h2 class="accordion-header" id="flush-headingDiscountsOne">
<a class="product-info-accordion collapsed text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseDiscountsOne" aria-expanded="false" aria-controls="flush-collapseOne">
<span class="fs-18px">How do I know my package has shipped?</span>
</a>
</h2>
</div>
<div id="flush-collapseDiscountsOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample3">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
<div class="accordion-item pb-4 pt-11">
<h2 class="accordion-header" id="flush-headingDiscountsTwo">
<a class="product-info-accordion collapsed text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseDiscountsTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
<span class="fs-18px">Why are certain products unavailable to ship to Internationally?</span>
</a>
</h2>
</div>
<div id="flush-collapseDiscountsTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample3">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
<div class="accordion-item pb-4 pt-11">
<h2 class="accordion-header" id="flush-headingDiscountsThree">
<a class="product-info-accordion collapsed text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseDiscountsThree" aria-expanded="false" aria-controls="flush-collapseThree">
<span class="fs-18px">Why is my tracking number not updating?</span>
</a>
</h2>
</div>
<div id="flush-collapseDiscountsThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample3">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</main>
{% endblock main %}
