{% extends "partials/base.html" %} {% load static %} 
{% load custom_filters %}
{% block main %}
  <section class="page-title z-index-2 position-relative">
    <div class="bg-body-secondary">
      <div class="container">
        <nav class="py-4 lh-30px" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center py-1">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
              Shop by Category
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{main_categoryy.main_title}}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </section>
  <section>
    <div
      class="slick-slider hero hero-header-04 slick-slider-dots-inside container container-xxl mx-auto"
      data-slick-options="{&#34;arrows&#34;:false,&#34;autoplay&#34;:true,&#34;cssEase&#34;:&#34;ease-in-out&#34;,&#34;dots&#34;:true,&#34;fade&#34;:true,&#34;infinite&#34;:true,&#34;slidesToShow&#34;:1,&#34;speed&#34;:600}"
    >
      <div class="vh-100 d-flex align-items-center py-lg-21 px-0">
        <div
          class="z-index-2 container container-xxl py-21 pt-xl-10 pb-xl-11 ps-lg-19 ps-6"
        >
          <div class="hero-content text-start">
          </div>
        </div>
        <div
          class="lazy-bg bg-overlay position-absolute z-index-1 w-100 h-100 light-mode-img"
          data-bg-src="{{main_categoryy.banner_image.url}}"
        ></div>
        <div
          class="lazy-bg bg-overlay dark-mode-img position-absolute z-index-1 w-100 h-100"
          data-bg-src="{{main_categoryy.banner_image.url}}"
        ></div>
      </div>
    </div>
  </section>
  <div class="border-top w-100"></div>
  <section class="container container-xxl mt-5">
    <div
      class="tool-bar mb-11 align-items-center justify-content-between d-lg-flex"
    >
      <div class="tool-bar-left mb-6 mb-lg-0 fs-18px">
        We found
        <span class="text-body-emphasis fw-semibold"> {{product.count}} </span> products
        available for you
      </div>
      <div class="tool-bar-right align-items-center d-flex">
        <ul
          class="list-unstyled d-flex align-items-center list-inline me-lg-7 me-0 mb-0"
        >
          <li class="list-inline-item me-7">
            <a
              class="fs-32px text-body-emphasis-hovertext-body-emphasis"
              href="#"
            >
              <svg class="icon icon-squares-four">
                <use xlink:href="#icon-squares-four"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul
          class="list-unstyled d-flex align-items-center list-inline mb-0 ms-auto"
        >
          <li class="list-inline-item me-0">
            <select class="form-select" name="orderby">
              <option selected="selected">Default sorting</option>
              <option value="popularity">Sort by popularity</option>
              <option value="rating">Sort by average rating</option>
              <option value="date">Sort by latest</option>
              <option value="price">Sort by price: low to high</option>
              <option value="price-desc">Sort by price: high to low</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div class="container container-xxl pb-16 pb-lg-18">
    <div class="row">
      <div class="col-lg-9 order-lg-1">
        <div class="row gy-11">
          {% if product %}
          {% for products in product %}
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div
              class="card card-product grid-2 bg-transparent border-0"
              data-animate="fadeInUp"
            >
              <figure
                class="card-img-top position-relative mb-7 overflow-hidden"
              >
                <a
                  href="{% url 'core:product_new' products.product_slug %}"
                  class="hover-zoom-in d-block"
                  title="Shield Conditioner"
                >
                  <img
                    src="#"
                    data-src="{{products.image.url}}"
                    class="img-fluid lazy-image w-100"
                    alt="{{products.title}}"
                    width="330"
                    height="440"
                  />
                </a>
                <div class="position-absolute product-flash z-index-2">
                  {% comment %} <span class="badge badge-product-flash on-sale bg-primary"
                    >-25%</span
                  > {% endcomment %}
                </div>
                <div
                  class="position-absolute d-flex z-index-2 product-actions vertical"
                >
                  {% comment %} <a
                    class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view sm"
                    href="#"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    data-bs-title="Quick View"
                  > {% endcomment %}
                    <span
                      data-bs-toggle="modal"
                      data-bs-target="#quickViewModal"
                      class="d-flex align-items-center justify-content-center"
                    >
                      <svg class="icon icon-eye-light">
                        <use xlink:href="#icon-eye-light"></use>
                      </svg>
                    </span>
                  </a>
                </div>
                <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{products.pid}}">

                <input type="hidden" value="{{products.pid}}" class="product-id-{{products.pid}}">
          
                <input type="hidden" value="{{products.title}}{% if products.first_variant_type_title %} - ({{ products.first_variant_type_title }}){% endif %}" class="product-title-{{products.pid}}">
          
                {% with price_wo_gst=products.variant_price|default:products.price %}
                <input type="hidden" value="{{ price_wo_gst }}" class="product-price-wo-gst-{{ products.pid }}">
                {% endwith %}
          
                {% if product.productvarient_set.exists %}
                          {% with first_variant=products.productvarient_set.first %}
                          <input type="hidden" value="{{ first_variant.productvarianttypes_set.first.gst_rate }}" class="gst_rate-{{ products.pid }}">
                          {% endwith %}
                      {% else %}
                      <input type="hidden" value="{{ products.gst_rate }}" class="gst_rate-{{ products.pid }}">
                      {% endif %}
                      
                <input type="hidden" value="{{ products.gst_inclusive_price }}" class="product-price-{{ products.pid }}">
          
                <input type="hidden" value="{{products.sku}}" class="product-sku-{{products.pid}}">
                <input type="hidden" value="{{products.image.url}}" class="product-image-{{products.pid}}">
                <input type="hidden" id="variant-id-hidden-{{ products.pid }}" value="{{ products.first_variant_type_id }}">
                <a
                  href="{% url 'core:product_new' products.product_slug %}"
                  class="btn btn-add-to-cart btn-dark btn-hover-bg-primary btn-hover-border-primary position-absolute z-index-2 text-nowrap btn-sm px-6 py-3 lh-2"
                  >View Product</a
                >
              </figure>
              <div class="card-body text-center p-0">
                <span
                  class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6"
                >
                  {% comment %} <del class="text-body fw-500 me-4 fs-13px">$40.00</del> {% endcomment %}
                  <ins class="text-decoration-none">₹ {{products.price}}</ins></span
                >
                <h4
                  class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3"
                >
                  <a
                    class="text-decoration-none text-reset"
                    href="{% url 'core:product_new' products.product_slug %}"
                    >{{products.title}}</a
                  >
                </h4>
                <div
                  class="d-flex align-items-center fs-12px justify-content-center"
                >
                  <div class="rating">
                    <div class="empty-stars">
                      <span class="star">
                        <svg class="icon star-o">
                          <use xlink:href="#star-o"></use>
                        </svg>
                      </span>
                      <span class="star">
                        <svg class="icon star-o">
                          <use xlink:href="#star-o"></use>
                        </svg>
                      </span>
                      <span class="star">
                        <svg class="icon star-o">
                          <use xlink:href="#star-o"></use>
                        </svg>
                      </span>
                      <span class="star">
                        <svg class="icon star-o">
                          <use xlink:href="#star-o"></use>
                        </svg>
                      </span>
                      <span class="star">
                        <svg class="icon star-o">
                          <use xlink:href="#star-o"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="filled-stars" style="width: 80%">
                      <span class="star">
                        <svg class="icon star text-primary">
                          <use xlink:href="#star"></use>
                        </svg>
                      </span>
                      <span class="star">
                        <svg class="icon star text-primary">
                          <use xlink:href="#star"></use>
                        </svg>
                      </span>
                      <span class="star">
                        <svg class="icon star text-primary">
                          <use xlink:href="#star"></use>
                        </svg>
                      </span>
                      <span class="star">
                        <svg class="icon star text-primary">
                          <use xlink:href="#star"></use>
                        </svg>
                      </span>
                      <span class="star">
                        <svg class="icon star text-primary">
                          <use xlink:href="#star"></use>
                        </svg>
                      </span>
                      <span class="star">
                        <svg class="icon star text-primary">
                          <use xlink:href="#star"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <span class="reviews ms-4 pt-3 fs-14px">0 reviews</span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} {% else %}
          <h6 class="pc__title">No Products Found</h6>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-3 d-lg-block d-none">
        <div class="position-sticky top-0">
          <aside
            class="primary-sidebar pe-xl-9 me-xl-2 mt-12 pt-2 mt-lg-0 pt-lg-0"
          >
            <div class="widget widget-product-category">
              <h4 class="widget-title fs-5 mb-6">Category</h4>
              <ul
                class="navbar-nav navbar-nav-cate"
                id="widget_product_category"
              >
                {% for cat in main_cat %}
                <li class="nav-item">
                  <a
                    href="#"
                    title="{{ cat.main_title }}"
                    class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center text-uppercase fs-14px fw-semibold letter-spacing-5 active"
                  >
                    <span class="text-hover-underline me-2">{{ cat.main_title }}</span>
                    <span
                      data-bs-toggle="collapse"
                      data-bs-target="#{{cat.mid}}"
                      class="caret flex-grow-1 d-flex align-items-center justify-content-end collapsed"
                      ><svg class="icon">
                        <use xlink:href="#icon-plus"></use></svg
                    ></span>
                  </a>
                  <div
                    id="{{cat.mid}}"
                    class="collapse show"
                    data-bs-parent="#widget_product_category"
                  >
                    <ul class="navbar-nav nav-submenu ps-8">
                      {% if categories_by_main_category|get_item:cat.id %}
                     {% for category in categories_by_main_category|get_item:cat.id %}
                      <li class="nav-item">
                        <a
                          class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"
                          href="{% url 'core:main_category' category.category_slug %}"
                          ><span class="text-hover-underline">{{ category.cat_title }}</span></a
                        >
                      </li>
                      {% endfor %}
                      {% else %}
                      
                      {% endif %}
                    </ul>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="widget widget-product-price">
              <h4 class="widget-title fs-5 mb-6">Price</h4>
              <form action="" method="get">
                  <div id="price-slider"></div>
                  <input type="hidden" id="min_price" name="min_price" value="{{ min_price_filter }}">
                  <input type="hidden" id="max_price" name="max_price" value="{{ max_price_filter }}">
                  <div>
                      <span>Min: <output id="min-price-output">₹ {{ min_price_filter }}</output></span>
                      <span>Max: <output id="max-price-output">₹ {{ max_price_filter }}</output></span>
                  </div>
                  <input type="submit" value="Filter">
              </form>
          </div>
            {% comment %} <div class="widget widget-product-size">
              <h4 class="widget-title fs-5 mb-6">Size</h4>
              <ul class="navbar-nav navbar-nav-cate" id="widget_product_size">
                <li class="nav-item">

                  <a
                    href="#"
                    title="Single"
                    class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"
                    ><span class="text-hover-underline">Single</span></a
                  >
                  
                </li>
              </ul>
            </div> {% endcomment %}
          </aside>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var priceSlider = document.getElementById('price-slider');
        var minPrice = {{ min_price }};
        var maxPrice = {{ max_price }};
        var minPriceFilter = {{ min_price_filter }};
        var maxPriceFilter = {{ max_price_filter }};
        
        noUiSlider.create(priceSlider, {
            start: [minPriceFilter, maxPriceFilter],
            connect: true,
            range: {
                'min': minPrice,
                'max': maxPrice
            },
            tooltips: [true, true],
            format: {
                to: function (value) {
                    return Math.round(value);
                },
                from: function (value) {
                    return Math.round(value);
                }
            }
        });

        var minPriceOutput = document.getElementById('min-price-output');
        var maxPriceOutput = document.getElementById('max-price-output');
        var minPriceInput = document.getElementById('min_price');
        var maxPriceInput = document.getElementById('max_price');

        priceSlider.noUiSlider.on('update', function(values, handle) {
            if (handle === 0) {
                minPriceOutput.innerHTML = values[0];
                minPriceInput.value = values[0];
            } else {
                maxPriceOutput.innerHTML = values[1];
                maxPriceInput.value = values[1];
            }
        });
    });
</script>
</main>
{% endblock main %}
