{% extends "partials/base.html" %}
{% load static %}
{% block main %}
  <section class="z-index-2 position-relative pb-2 mb-12">
    <div class="bg-body-secondary mb-3">
      <div class="container">
        <nav class="py-4 lh-30px" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center py-1 mb-0">
            <li class="breadcrumb-item">
              <a title="Home" href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{products.title}}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </section>
  <section class="container container-xxl pt-6 pb-13 pb-lg-20">
    <div class="row">
      <div class="col-md-6 pe-lg-13">
        <div class="position-sticky top-0">
            <div class="row">
                <div class="col-xl-2 pe-xl-0 order-1 order-xl-0 mt-5 mt-xl-0">
                    <div
                        id="slide-thumb-5"
                        class="slick-slider slick-slider-thumb ps-1 ms-n3 me-n4 mx-xl-0"
                        data-slick-options='{"arrows":false,"asNavFor":"#slide-5","dots":false,"focusOnSelect":true,"responsive":[{"breakpoint":1260,"settings":{"vertical":false}}],"slidesToShow":4,"vertical":true}'
                    >
                        <img
                            src="{{products.image.url}}"
                            data-src="{{products.image.url}}"
                            class="cursor-pointer lazy-image h-auto mx-3 mx-xl-0 px-0 mb-xl-7"
                            width="540"
                            height="720"
                            alt
                        />
                        {% for pi in product_images %}
                        <img
                            src="{{pi.images.url}}"
                            data-src="{{pi.images.url}}"
                            class="cursor-pointer lazy-image h-auto mx-3 mx-xl-0 px-0 mb-xl-7"
                            width="540"
                            height="720"
                            alt
                        />
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-10 ps-xl-8 pe-xl-0 order-0 order-xl-1">
                    <div class="position-relative">
                        <div class="position-absolute z-index-2 w-100 d-flex justify-content-end">
                            <div class="p-6">
                              {% if products.youtube_link != "youtube video link.." %}
                              <a
                                  href="{{ products.youtube_link }}"
                                  class="view-video d-flex align-items-center justify-content-center mt-5 product-gallery-action rounded-circle"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="left"
                                  data-bs-title="Play Video"
                              >
                                  <svg class="icon fs-4">
                                      <use xlink:href="#icon-Play"></use>
                                  </svg>
                              </a>
                          {% endif %}
                          
                            </div>
                        </div>
                    </div>
                    <div
                        id="slide-5"
                        class="slick-slider slick-slider-arrow-inside slick-slider-dots-inside slick-slider-dots-light g-0"
                        data-slick-options='{"arrows":false,"asNavFor":"#slide-thumb-5","dots":false,"slidesToShow":1,"vertical":true}'
                    >
                        <a href="{{products.image.url}}" data-gallery="gallery5">
                            <img
                                src="{{products.image.url}}"
                                data-src="{{products.image.url}}"
                                class="h-auto lazy-image"
                                width="540"
                                height="720"
                                alt
                            />
                        </a>
                        {% for pi in product_images %}
                        <a href="{{pi.images.url}}" data-gallery="gallery5">
                            <img
                                src="{{pi.images.url}}"
                                data-src="{{pi.images.url}}"
                                class="h-auto lazy-image"
                                width="540"
                                height="720"
                                alt
                            />
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="col-md-6 pt-md-0 pt-10">
        <p class="d-flex align-items-center mb-6">
          {% comment %} <span class="text-decoration-line-through">₹ 39.00</span> {% endcomment %}
          <span id="clicked-price" class="fs-18px text-body-emphasis ps-2 fw-bold"
            >₹ {{products.price}}</span
          >
          <p>(Includes {{products.gst_rate}} gst)</p>
          <!-- <span
            class="badge text-bg-primary fs-6 fw-semibold ms-7 px-6 py-3"
            >20%</span
          > -->
        </p>
        <style>
          .variant-name {
              font-size: 18px;
              color: green;
          }
      </style>
        <h1 class="mb-4 pb-2 fs-4">{{products.title}} <span id="variant-name" class="variant-name"></span></h1>
        <div class="d-flex align-items-center fs-15px mb-6">
          <!-- <p class="mb-0 fw-semibold text-body-emphasis">4.86</p> -->
          <div
            class="d-flex align-items-center fs-12px justify-content-center mb-0 px-3 rating-result"
          >
            <div class="rating">
              <div class="empty-stars">
                <span class="star">
                  <svg class="icon star-o">
                    <use xlink:href="#star-o"></use>
                  </svg>
                </span>
                <span class="star">
                  <svg class="icon star-o">
                    <use xlink:href="#star-o"></use>
                  </svg>
                </span>
                <span class="star">
                  <svg class="icon star-o">
                    <use xlink:href="#star-o"></use>
                  </svg>
                </span>
                <span class="star">
                  <svg class="icon star-o">
                    <use xlink:href="#star-o"></use>
                  </svg>
                </span>
                <span class="star">
                  <svg class="icon star-o">
                    <use xlink:href="#star-o"></use>
                  </svg>
                </span>
              </div>
              <div class="filled-stars" style="width: 100%">
                <span class="star">
                  <svg class="icon star text-primary">
                    <use xlink:href="#star"></use>
                  </svg>
                </span>
                <span class="star">
                  <svg class="icon star text-primary">
                    <use xlink:href="#star"></use>
                  </svg>
                </span>
                <span class="star">
                  <svg class="icon star text-primary">
                    <use xlink:href="#star"></use>
                  </svg>
                </span>
                <span class="star">
                  <svg class="icon star text-primary">
                    <use xlink:href="#star"></use>
                  </svg>
                </span>
                <span class="star">
                  <svg class="icon star text-primary">
                    <use xlink:href="#star"></use>
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <a href="#" class="border-start ps-6 text-body"
            >Read 0 reviews</a
          >
        </div>
        <p class="fs-15px">
          Discover the perfect blend of nature and science with VRH's premium hair care and skin care products, designed to nurture your beauty from within."
        </p>
        <style>
          .selected-swatch {
            background-color: greenyellow;
          }
        </style>
        <form class="mb-9 pb-2" name="addtocart-form" method="post">
          {% csrf_token %}
          {% for variant in product_variants %}
            <div class="form-group shop-swatch mb-7 d-flex align-items-center">
              <span class="fw-semibold text-body-emphasis me-7">{{ variant.title }}</span>
              <ul class="list-inline d-flex justify-content-start mb-0">
                {% for variant_type in product_variant_types %}
                {% if variant_type.product_variant == variant %}
              <li class="list-inline-item me-4 fw-semibold">

              <input type="radio" id="radio{{ variant_type.id }}" name="variant_size" class="product-info-size d-none" {% if forloop.first %}checked{% endif %} data-price="{{ variant_type.varient_price }}" data-gst="{{ variant_type.gst_rate }}" data-variant-type-id="{{ variant_type.id }}">


              <label for="radio{{ variant_type.id }}" class="fs-14px p-4 d-block rounded text-decoration-none border {% if forloop.first %}selected-swatch{% endif %}" data-var="full size" aria-label="{{ variant_type.variant_title }}" title="{{ variant_type.variant_title }}">{{ variant_type.variant_title }}</label>
              </li>

              {% endif %}
              {% endfor %}
              </ul>
            </div>
              {% endfor %}
          <div class="row align-items-end">
            <div class="form-group col-sm-4">
              <label
                class="text-body-emphasis fw-semibold fs-15px pb-6"
                for="number"
                >Quantity:
              </label>
              <div
                class="input-group position-relative w-100 input-group-lg"
              >
                <a
                  href="#"
                  class="shop-down position-absolute translate-middle-y top-50 start-0 ps-7 product-info-2-minus"
                  ><i class="far fa-minus"></i
                ></a>
                <input
                name="quantity"
                  type="number"
                  id="product-quantity-{{ products.pid }}"
                  class="product-info-2-quantity form-control w-100 px-6 text-center product-quantity-{{ products.pid }}"
                  value="1"
                  required
                />
                <a
                  href="#"
                  class="shop-up position-absolute translate-middle-y top-50 end-0 pe-7 product-info-2-plus"
                  ><i class="far fa-plus"></i>
                </a>
              </div>
            </div>
            <div class="col-sm-8 pt-9 mt-2 mt-sm-0 pt-sm-0">
              <input type="hidden" value="{{products.pid}}" class="product-id">
              <input type="hidden" value="{{products.pid}}" class="product-id-{{products.pid}}">
              <input type="hidden" value="{{products.title}}" class="product-title-{{products.pid}}" id="product-title-hidden">
              <input type="hidden" value="{{products.price}}" class="product-price-{{products.pid}}">
              <input type="hidden" value="{{gst_amount_applied}}" class="gst-applied-{{products.pid}}">
              <input type="hidden" value="{{price_wo_gst}}" class="product-price-wo-gst-{{products.pid}}">
              <input type="hidden" value="{{gst_rate}}" class="gst_rate-{{products.pid}}">
              <input type="hidden" value="{{products.sku}}" class="product-sku-{{products.pid}}">
              <input type="hidden" value="{{products.image.url}}" class="product-image-{{products.pid}}">
              <input type="hidden" id="variant-id-hidden-{{ products.pid }}" value="None">
              <button
                type="submit"
                class="btn-hover-bg-primary btn-hover-border-primary btn btn-lg btn-dark w-100 add-to-cart-btn"
                id="add-to-cart-btn"
                data-index="{{products.pid}}"
              >
                Add To Bag
              </button>
            </div>
          </div>
        </form>
        <p class="mb-4 pb-2">
          <span class="text-body-emphasis">
            <svg class="icon fs-28px me-2 pe-4">
              <use xlink:href="#icon-delivery-1"></use></svg
            >Get it between:
          </span>
          July 3 - July 14,2024
        </p>
        <p class="mb-4 pb-2">
          <span class="text-body-emphasis">
            <svg class="icon fs-28px me-2 pe-4">
              <use xlink:href="#icon-Package"></use></svg
            >Free Shipping & Returns:
          </span>
          On all orders over ₹999/-
        </p>
        <div
          class="card border-0 bg-body-tertiary rounded text-center mt-7"
        >
          <div class="pt-8 px-5">
            <img
              class="img-fluid"
              src="{% static 'assets/images/shop/product-info-2.png'%}"
              alt="pay"
              width="357"
              height="28"
            />
          </div>
          <div class="card-body pt-6 pb-7">
            <p class="fs-14px fw-normal mb-0">
              Guarantee safe &amp; secure checkout
            </p>
          </div>
        </div>
        <ul class="single-product-meta list-unstyled border-top pt-7 mt-7">
          <li class="d-flex mb-4 pb-2 align-items-center">
            <span class="text-body-emphasis fw-semibold fs-14px">Sku:</span>
            <span class="ps-4">{{products.sku}}</span>
          </li>
          <li class="d-flex mb-4 pb-2 align-items-center">
            <span class="text-body-emphasis fw-semibold fs-14px"
              >Categories:</span
            >
            <span class="ps-4">Makeup, Skincare</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="container pt-15 pb-12 pt-lg-17 pb-lg-20">
    <div class="collapse-tabs">
      <ul
        class="nav nav-tabs border-0 justify-content-center pb-12 d-none d-md-flex"
        id="productTabs"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <button
            class="nav-link m-auto fw-semibold py-0 px-8 fs-4 fs-lg-3 border-0 text-body-emphasis active"
            id="product-details-tab"
            data-bs-toggle="tab"
            data-bs-target="#product-details"
            type="button"
            role="tab"
            aria-controls="product-details"
            aria-selected="true"
          >
          Reasons to Love
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link m-auto fw-semibold py-0 px-8 fs-4 fs-lg-3 border-0 text-body-emphasis"
            id="how-to-use-tab"
            data-bs-toggle="tab"
            data-bs-target="#how-to-use"
            type="button"
            role="tab"
            aria-controls="how-to-use"
            aria-selected="false"
          >
            Safety Warning
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link m-auto fw-semibold py-0 px-8 fs-4 fs-lg-3 border-0 text-body-emphasis"
            id="ingredients-tab"
            data-bs-toggle="tab"
            data-bs-target="#ingredients"
            type="button"
            role="tab"
            aria-controls="ingredients"
            aria-selected="false"
          >
            Direction for Use
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link m-auto fw-semibold py-0 px-8 fs-4 fs-lg-3 border-0 text-body-emphasis"
            id="ingredients-tab"
            data-bs-toggle="tab"
            data-bs-target="#ingredients"
            type="button"
            role="tab"
            aria-controls="ingredients"
            aria-selected="false"
          >
            Ingredients
          </button>
        </li>
        
      </ul>
      <div class="tab-content">
        <div class="tab-inner">
          <div
            class="tab-pane fade active show"
            id="product-details"
            role="tabpanel"
            aria-labelledby="product-details-tab"
            tabindex="0"
          >
            <div class="card border-0 bg-transparent">
              <div
                class="card-header border-0 bg-transparent px-0 py-4 product-tabs-mobile d-block d-md-none"
              >
                <h5 class="mb-0">
                  <button
                    class="btn lh-2 fs-5 py-3 px-6 shadow-none w-100 border text-primary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-product-detail"
                    aria-expanded="false"
                    aria-controls="collapse-product-detail"
                  >
                    Product Detail
                  </button>
                </h5>
              </div>
              <div
                class="collapse show border-md-0 border p-md-0 p-6"
                id="collapse-product-detail"
              >
                <div class="row">
                  <div class="col-12 col-lg-6 pe-lg-10 pe-xl-20">
                    <img
                      src="{% static '#' %}"
                      data-src="{{products.image.url}}"
                      class="w-100 lazy-image"
                      alt
                      width="470"
                      height="540"
                    />
                  </div>
                  <div class="pb-3 col-12 col-lg-6 pt-12 pt-lg-0">
                    <p class="fw-semibold text-body-emphasis mb-2 pb-4">
                      For Normal, Oily, Combination Skin Types
                    </p>
                    <p class="mb-2 pb-4">
                      Complexion-perfecting natural foundation enriched with
                      antioxidant-packed superfruits, vitamins, and other
                      skin-nourishing nutrients. Creamy liquid formula sets
                      with a pristine matte finish for soft, velvety smooth
                      skin.
                    </p>
                    <p class="mb-9">
                      Say hello to flawless, long-lasting foundation that
                      comes in 7 melt-into-your-skin shades. This
                      lightweight, innovative formula creates a smooth,
                      natural matte finish that won’t settle into lines.
                      It’s the perfect fit for your skin. 1 fl. oz.
                    </p>
                    <p class="fw-semibold text-body-emphasis mb-2 pb-4">
                      Benefits
                    </p>
                    <ul class="mb-7 ps-6">
                      <li class="mb-1">
                        Buildable medium-to-full coverage
                      </li>
                      <li class="mb-1">Weightless, airy feel—no caking!</li>
                      <li class="mb-1">Long-wearing</li>
                      <li class="mb-1">Evens skin tone</li>
                      <li>
                        Available in 07 shades (all exclusive to
                        Makeaholic!)
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="how-to-use"
            role="tabpanel"
            aria-labelledby="how-to-use-tab"
            tabindex="0"
          >
            <div class="card border-0 bg-transparent">
              <div
                class="card-header border-0 bg-transparent px-0 py-4 product-tabs-mobile d-block d-md-none"
              >
                <h5 class="mb-0">
                  <button
                    class="btn lh-2 fs-5 py-3 px-6 shadow-none w-100 border text-primary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-to-use"
                    aria-expanded="false"
                    aria-controls="collapse-to-use"
                  >
                    How To Use
                  </button>
                </h5>
              </div>
              <div
                class="collapse border-md-0 border p-md-0 p-6"
                id="collapse-to-use"
              >
                <div class="pb-3">
                  <p class="fw-semibold text-body-emphasis mb-2 pb-4">
                    Follow these safety guidelines when using cosmetics
                    products of any type:
                  </p>
                  <ul class="ps-6 mb-8">
                    <li class="mb-3">
                      Read the label. Follow all directions and heed all
                      warnings.
                    </li>
                    <li class="mb-3">
                      Wash your hands before you use the product.
                    </li>
                    <li class="mb-3">Do not share makeup.</li>
                    <li class="mb-3">
                      Keep the containers clean and tightly closed when not
                      in use, and protect them from temperature extremes.
                    </li>
                    <li class="mb-3">
                      Throw away cosmetics if there are changes in color or
                      smell.
                    </li>
                    <li>
                      Use aerosols or sprays cans in well-ventilated areas.
                      Do not use them while you are smoking or near an open
                      flame. It could start a fire.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="ingredients"
            role="tabpanel"
            aria-labelledby="ingredients-tab"
            tabindex="0"
          >
            <div
              class="card-header border-0 bg-transparent px-0 py-4 product-tabs-mobile d-block d-md-none"
            >
              <h5 class="mb-0">
                <button
                  class="btn lh-2 fs-5 py-3 px-6 shadow-none w-100 border text-primary"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-ingredients"
                  aria-expanded="false"
                  aria-controls="collapse-ingredients"
                >
                  How To Use
                </button>
              </h5>
            </div>
            <div
              class="collapse border-md-0 border p-md-0 p-6"
              id="collapse-ingredients"
            >
              <div class="pb-3">
                <div class="table-responsive mb-5">
                  <table class="table table-borderless mb-0">
                    <tbody>
                      <tr>
                        <td class="ps-0 py-5 pe-5 text-body-emphasis">
                          CAS
                        </td>
                        <td class="text-end py-5 ps-5 pe-0">
                          92128-82-0, 9057-02-7
                        </td>
                      </tr>
                      <tr>
                        <td class="ps-0 py-5 pe-5 text-body-emphasis">
                          INCI
                        </td>
                        <td class="text-end py-5 ps-5 pe-0">
                          Nannochloropsis Oculata (micro algae) extract,
                          pullulan
                        </td>
                      </tr>
                      <tr>
                        <td class="ps-0 py-5 pe-5 text-body-emphasis">
                          Composition
                        </td>
                        <td class="text-end py-5 ps-5 pe-0">
                          Nannochloropsis Oculata (micro algae) extract,
                          pullulan, water, ethanol
                        </td>
                      </tr>
                      <tr>
                        <td class="ps-0 py-5 pe-5 text-body-emphasis">
                          Appearance
                        </td>
                        <td class="text-end py-5 ps-5 pe-0">
                          Yellow to amber, viscous liquid
                        </td>
                      </tr>
                      <tr>
                        <td class="ps-0 py-5 pe-5 text-body-emphasis">
                          Solubility
                        </td>
                        <td class="text-end py-5 ps-5 pe-0">
                          Soluble in water &amp; ethanol
                        </td>
                      </tr>
                      <tr>
                        <td class="ps-0 py-5 pe-5 text-body-emphasis">
                          Storage
                        </td>
                        <td class="text-end py-5 ps-5 pe-0">
                          Store refrigerated (4-8oC / 39-46oF)
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <p class="mb-0">
                  Perfect for Equestrian homes or every horse lover.
                  Designer premium signature aluminum alloy all Arthur Court
                  is compliance with FDA regulations. Aluminum Serveware can
                  be chilled in the freezer or refrigerator and warmed in
                  the oven to 350. Wash by hand with mild dish soap and dry
                  immediately – do not put in the dishwasher. Comes in Gift
                  Box perfect for Equestrian home or Horse lover in your
                  life.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
        class="bg-section-2 overflow-hidden"
        id="specia_offer_beauty_inspired_by_real_life_1"
      >
        <div class="container container-xxl">
          <div class="row">
            <div class="col-lg-6 ps-6">
              <div
                class="py-lg-23 py-16 mt-lg-3 mb-lg-5 ms-lg-auto content-wrap"
              >
                <div class="text-left">
                  <p
                    class="fs-15px mb-7 ls-1 text-body-emphasis fw-semibold text-uppercase"
                  >
                    Special offer
                  </p>
                  <h2 class="mb-6 mw-xl-50 mw-lg-60 pt-1">
                    Beauty Inspired by Real Life
                  </h2>
                  <p class="fs-18px mb-0 mw-xl-60 mw-lg-75">
                    Made using clean, non-toxic ingredients, our products are
                    designed for everyone.
                  </p>
                </div>
                <a href="#" class="btn btn-white mt-10 mb-2">Discover Now</a>
              </div>
            </div>
            <div class="col-lg-6 py-20 py-lg-0 position-relative">
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center w-lg-half-screen"
              >
                <div
                  class="lazy-bg bg-overlay position-absolute z-index-0 w-100 h-100 bg-col-lg-half-screen-right light-mode-img"
                  data-bg-src="{{products.youtube_link}}"
                >
                <iframe width="100%" height="100%" src="{{products.youtube_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

              </div>
                <div
                  class="lazy-bg bg-overlay dark-mode-img position-absolute z-index-0 w-100 h-100 bg-col-lg-half-screen-right"
                  data-bg-src="{% static 'assets/images/others/video-white-01.jpg' %}"
                >
                <iframe width="560" height="315" src="{{products.youtube_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </div>
                <a
                  href="{{products.youtube_link}}"
                  class="square view-video rounded-circle z-index-1 bg-body text-body-emphasis fs-2 bg-dark-hover text-light-hover"
                  style="--square-size: 115px"
                  ><svg class="icon">
                    <use xlink:href="#icon-play-fill"></use></svg
                ></a>
              </div>
            </div>
          </div>
        </div>
      </section>
  <section class="container pt-15 pb-15 pt-lg-17 pb-lg-20">
    <div class="text-center"><h2 class="mb-12">You may also like</h2></div>
    <div class="slick-slider" data-slick-options="{&#34;arrows&#34;:true,&#34;centerMode&#34;:true,&#34;centerPadding&#34;:&#34;calc((100% - 1440px) / 2)&#34;,&#34;dots&#34;:true,&#34;infinite&#34;:true,&#34;responsive&#34;:[{&#34;breakpoint&#34;:1200,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:false,&#34;slidesToShow&#34;:3}},{&#34;breakpoint&#34;:992,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:false,&#34;slidesToShow&#34;:2}},{&#34;breakpoint&#34;:576,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:false,&#34;slidesToShow&#34;:1}}],&#34;slidesToShow&#34;:4}">
      {% for related_product in related_products %}
    <div class="mb-6">
    <div class="card card-product grid-2 bg-transparent border-0">
    <figure class="card-img-top position-relative mb-7 overflow-hidden">
    <a href="{% url 'core:product_new' related_product.product_slug %}" class="hover-zoom-in d-block" title="Shield Conditioner">
    <img src="{% url 'core:product_new' related_product.product_slug %}" data-src="{{related_product.image.url}}" class="img-fluid lazy-image w-100" alt="{{related_product.title}}" width="330" height="440">
    </a>
  
  <use xlink:href="#icon-eye-light"></use>
    </svg>
    </span>
    </a>
    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Add To Wishlist">
    <a href="{% url 'core:product_new' related_product.product_slug %}" class="btn btn-add-to-cart btn-dark btn-hover-bg-primary btn-hover-border-primary position-absolute z-index-2 text-nowrap">View Product</a>
    </figure>
    <div class="card-body text-center p-0">
    <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
    <!-- <del class=" text-body fw-500 me-4 fs-13px">₹40.00</del> -->
    <ins class="text-decoration-none">₹ {{related_product.price}}</ins></span>
    <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3"><a class="text-decoration-none text-reset" href="{% url 'core:product_new' related_product.product_slug %}">{{related_product.title}}</a></h4>
    <div class="d-flex align-items-center fs-12px justify-content-center">
    <div class="rating">
    <div class="empty-stars">
    <span class="star">
    <svg class="icon star-o">
    <use xlink:href="#star-o"></use>
    </svg>
    </span>
    <span class="star">
    <svg class="icon star-o">
    <use xlink:href="#star-o"></use>
    </svg>
    </span>
    <span class="star">
    <svg class="icon star-o">
    <use xlink:href="#star-o"></use>
    </svg>
    </span>
    <span class="star">
    <svg class="icon star-o">
    <use xlink:href="#star-o"></use>
    </svg>
    </span>
    <span class="star">
    <svg class="icon star-o">
    <use xlink:href="#star-o"></use>
    </svg>
    </span>
    </div>
    <div class="filled-stars" style="width: 80%">
    <span class="star">
    <svg class="icon star text-primary">
    <use xlink:href="#star"></use>
    </svg>
    </span>
    <span class="star">
    <svg class="icon star text-primary">
    <use xlink:href="#star"></use>
    </svg>
    </span>
    <span class="star">
    <svg class="icon star text-primary">
    <use xlink:href="#star"></use>
    </svg>
    </span>
    <span class="star">
    <svg class="icon star text-primary">
    <use xlink:href="#star"></use>
    </svg>
    </span>
    <span class="star">
    <svg class="icon star text-primary">
    <use xlink:href="#star"></use>
    </svg>
    </span>
    </div>
    </div><span class="reviews ms-4 pt-3 fs-14px">0 reviews</span></div>
    </div>
    </div>
    </div>
    {% endfor %}
</div>
    </section>
    <script>
      $(document).ready(function(){
          $('#slide-thumb-5').slick({
              arrows: false,
              asNavFor: '#slide-5',
              dots: false,
              focusOnSelect: true,
              responsive: [{
                  breakpoint: 1260,
                  settings: {
                      vertical: false
                  }
              }],
              slidesToShow: 4,
              vertical: true
          });
  
          $('#slide-5').slick({
              arrows: false,
              asNavFor: '#slide-thumb-5',
              dots: false,
              slidesToShow: 1,
              vertical: true
          });
  
          $('#slide-thumb-5 img').on('click', function() {
              var index = $(this).index();
              $('#slide-5').slick('slickGoTo', index);
          });
      });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var radioButtons = document.querySelectorAll('input[name="variant_size"]');
      radioButtons.forEach(function(radioButton) {
          radioButton.addEventListener('click', updatePrice);
      });
  
      // Calculate and display default price and update title for the default selected variant type
      updatePrice();
  });
  
  function updatePrice() {
      var hasVariants = true; // Assuming that the presence of variants is always true
      var productTitle = document.getElementById('product-title');
      var variantName = document.getElementById('variant-name');
      var hiddenProductTitle = document.querySelector('.product-title-{{ products.pid }}');
      var productPid = '{{ products.pid }}'; // Ensure this is the actual product PID
      var variantIdHidden = document.getElementById('variant-id-hidden-' + productPid);
  
      if (hasVariants) {
          var selectedVariantType = document.querySelector('input[name="variant_size"]:checked');
  
          if (!selectedVariantType) {
              selectedVariantType = document.querySelector('input[name="variant_size"]');
              selectedVariantType.checked = true;
          }
  
          var selectedVariantTypeId = selectedVariantType.getAttribute('data-variant-type-id');
          if (variantIdHidden) {
              variantIdHidden.value = selectedVariantTypeId;
          } else {
              variantIdHidden = { value: null };
          }
  
          var price = parseFloat(selectedVariantType.getAttribute('data-price'));
          var gstRate = parseFloat(selectedVariantType.getAttribute('data-gst'));
  
          var basePrice = price;
          var totalPrice = price + (price * (gstRate / 100));
          document.getElementById('clicked-price').textContent = totalPrice.toFixed(2);
  
          var variantText = selectedVariantType.nextElementSibling.textContent;
          variantName.textContent = '(' + variantText + ')';
          hiddenProductTitle.value = '{{products.title}} - (' + variantText + ')';
      } else {
          document.getElementById('clicked-price').textContent = '{{default_price}}';
          var totalPrice = parseFloat('{{ default_price }}');
          var basePrice = {{price_wo_gst}};
  
          variantName.textContent = '';
          hiddenProductTitle.value = '{{products.title}}';
      }
  
      document.querySelector('.product-price-{{ products.pid }}').value = totalPrice.toFixed(2);
      document.querySelector('.product-price-wo-gst-{{ products.pid }}').value = basePrice.toFixed(2);
  
      updateSwatchSelection();
  }
  
  function updateSwatchSelection() {
      var selectedVariantType = document.querySelector('input[name="variant_size"]:checked');
      var selectedSwatches = document.querySelectorAll('.selected-swatch');
  
      selectedSwatches.forEach(function(swatch) {
          swatch.classList.remove('selected-swatch');
      });
  
      if (selectedVariantType) {
          selectedVariantType.nextElementSibling.classList.add('selected-swatch');
      }
  }
  </script>
</main>
    {% endblock main %}