{% extends "partials/base.html" %}
{% load static %}
{% block main %}

<section class="pb-16 pb-lg-18 ">
<div class="bg-body-secondary py-5">
<nav aria-label="breadcrumb">
<ol class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center">
<li class="breadcrumb-item"><a class="text-decoration-none text-body" href="#">Home</a>
</li>
<li class="breadcrumb-item active pl-0 d-flex align-items-center" aria-current="page">Shipping Policy
</li>
</ol>
</nav>
</div>
<div class="container">
<div class=" text-center pt-13 mb-lg-15">
<div class="text-center"><h2 class="fs-36px mb-11 mb-lg-14">Shipping Policy</h2></div>
</div>
</div>
<div class="container">
<div class="">
<div class="row">
<div class="col-md-12">
<div class="accordion accordion-flush" id="accordionFlushExample">
<div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
<div class="py-8">
<p>Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits,
vitamins, and
other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish
for
soft,
velvety smooth skin.</p>
<p class="mb-0">
Say hello to flawless, long-lasting foundation that comes in 7 melt-into-your-skin
shades.
This
lightweight, innovative formula creates a smooth, natural matte finish that won’t settle
into lines.
It’s the perfect fit for your skin. 1 fl. oz.
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</main>
{% endblock main %}
