{% extends "partials/base.html" %}
{% load static %}
{% block main %}

<section class="pb-16 pb-lg-18 ">
<div class="bg-body-secondary py-5">
<nav aria-label="breadcrumb">
<ol class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center">
<li class="breadcrumb-item"><a class="text-decoration-none text-body" href="#">Home</a>
</li>
<li class="breadcrumb-item active pl-0 d-flex align-items-center" aria-current="page">Terms & Conditions
</li>
</ol>
</nav>
</div>
<div class="container">
<div class=" text-center pt-13 mb-lg-15">
<div class="text-center"><h2 class="fs-36px mb-11 mb-lg-14">Terms & Conditions</h2></div>
</div>
</div>
<div class="container">
<div class="">
<div class="row">
<div class="col-md-12">
<div class="accordion accordion-flush" id="accordionFlushExample">
<div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
<div class="py-8">
<p>VR Health Science, including subsidiaries and affiliates, present and future (“Website” Or “Website Owner” or “we” or “us” or “our”) provides information and products contained on the website or any pages that comprise the website to visitors. (Hereafter referred to as “you” or “your”) subject to the terms and conditions set out in these website terms and conditions, the privacy policy and any and all other relevant terms and conditions, policies and notices which may be applicable to the whole or a specific section of the website.</p>
<p class="mb-0">
    The term ‘VR Health Science’ or ‘us’ or ‘we’ refers to the owner of the website whose registered office is WH-71, First Floor, Mayapuri Industrial Area Phase I, Part 1, New Delhi, Delhi 110064.
</p>
<p class="mb-0">
    The use of this website and services contained herein are subject to the following terms of use:
</p>
<p class="mb-0">
    The content of the pages of this website is for your information and use only. It is subject to change without notice.
</p>
<p class="mb-0">
    Neither we, nor any third parties affiliated with us or working with us, provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
</p>
<p class="mb-0">
    Your use of any information or materials on this website is entirely at your own risk, for which we shall not and will not be held liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
</p>
<p class="mb-0">
    This website contains material which is owned by or licensed to us. This material includes, but is not limited to, product images, Artist bios, commentary on artwork, design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
</p>
<p class="mb-0">
    All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.
</p>
<p class="mb-0">
    Unauthorized and unlawful use of this website may give rise to a claim for damages and/or be a criminal offence.
</p>
<p class="mb-0">
    You cannot copy; reverse engineer; reproduce entirely, or in part; any part of the Website or branding. Prior permission of the holder of copyright needs to be procured before use of any material. The lack of which will leave you open to claims for damages, violation of intellectual property rights and/or criminal proceedings.
</p>
<p class="mb-0">
    From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
</p>
<p class="mb-0">
    You may not create a link to this website from another website or document without VR Health Science’s prior written consent.
</p>
<p class="mb-0">
    Your use of this website and any dispute arising out of such use of the website is subject to the laws of India or other regulatory authority.
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</main>
{% endblock main %}
