{% extends "partials/base.html" %}
{% load static %}
{% block main %}
<section class="pb-lg-20 pb-16">
  <div class="bg-body-secondary py-5">
    <nav aria-label="breadcrumb">
      <ol
        class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center"
      >
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-body" href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-body" href="/user/sign-in">Sign In</a>
        </li>
        <li
          class="breadcrumb-item active pl-0 d-flex align-items-center"
          aria-current="page"
        >
          Reset Your Password
        </li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="text-center pt-13 mb-12 mb-lg-15">
      <div class="text-center">
        <h3 class="fs-32px mb-11 mb-lg-14" style="background: linear-gradient(250deg, #353935, #066582); -webkit-background-clip: text; color: transparent;">Don't worry, <br> We are here to help you recover your password</h3>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-10 mx-auto">
        <div class="row no-gutters">
          <div class="col-lg-12 mb-15 mb-lg-0 pe-xl-2">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group mb-6">
                {{ form.as_p }}
              </div>

              <button type="submit" class="btn btn-primary w-100 mb-7">
                Reset Password
              </button>
              <div class="form-check mb-7 d-flex">
                <input
                  class="form-check-input rounded-0"
                  id="customCheck1"
                  name="remember"
                />
                <label
                  class="form-check-label fs-15 ps-4 text-body-emphasis"
                  for="customCheck1"
                  >Back to Log in</label
                >
              </div>
              <!-- <div class="row no-gutters mx-n5">
                <div class="col-sm-6 mb-4 mb-sm-0 px-5">
                  <a
                    href="#"
                    class="btn btn-outline-primary w-100 px-2 fw-500"
                  >
                    <span class="d-inline-block me-4"
                      ><i class="fab fa-facebook-f"></i></span
                    >Continue with Facebook</a
                  >
                </div>
                <div class="col-sm-6 mb-4 mb-sm-0 px-5">
                  <a
                    href="#"
                    class="btn btn-outline-primary w-100 px-2 fw-500"
                  >
                    <span class="d-inline-block me-4">
                      <i class="fab fa-google"></i> </span
                    >Continue with Google</a
                  >
                </div>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>

{% endblock main %}
