{% extends "partials/base.html" %}
{% load static %}
{% block main %}
<div id="main-wrapper" class="oxyy-login-register min-vh-100 d-flex flex-column bg-light">
    <div class="container my-auto">
      <div class="logo d-flex justify-content-center my-4"> </div>
      <div class="row">
        <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
          <div class="bg-white p-4 pb-sm-5 px-sm-5">
            <h3 class="text-center text-6 mt-2 mb-4">Forgot password?</h3>
            <p class="text-muted text-center mb-4">Enter the email address or mobile number associated with your account.</p>
            <form id="forgotForm" method="post">
              <div class="mb-3 icon-group">
                <input type="text" class="form-control rounded-0" id="emailAddress" required="" placeholder="Enter Email or Mobile Number">
                <span class="icon-inside"><i class="fas fa-envelope"></i></span>
              </div>
              <div class="d-grid my-4">
                <button class="btn btn-primary rounded-0 shadow-none" type="submit">Continue</button>
              </div>
            </form>
          </div>
          <p class="text-center my-4"><a class="link-light link-underline-opacity-0 link-underline-opacity-75-hover" href="login-14.html">Return to Log in now!</a></p>
        </div>
      </div>
    </div>
  </div>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Request Password Reset</button>
</form>

{% endblock main %}
